<html>
<p> Here is a list of books available for renting</p>
<p>
<table style="width:80%">
{% for listing in listings %}
<tr>
	<th>
    {{ listing.book_name }}
    </th>
    <th>
    {{ listing.days }}
    </th>
    <th>
    {{ listing.price }}
    </th>
{% endfor %}
</tr>
</table>
</p>
</html>